.all-categories-scrolling {
    max-height: 200px;
    overflow-y: scroll;
    display: none;
    background: #ececec;
    overflow-x: hidden;
    padding: 10px 15px;
    max-width: 300px;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    left: 456px;
    right:auto;
}


.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-fifths,
.two-sixths,
.three-fifths,
.two-thirds {
    float: left;
    margin-left: 2.564102564102564%;
}
.three-fifths {
    width: 58.9743589743589744%;
}
.two-fifths {
    width: 38.4615384615384616%;
}
.one-half,
.three-sixths,
.two-fourths {
    width: 48.717948717948715%;
}

.one-third,
.two-sixths {
    width: 31.623931623931625%;
}

.four-sixths,
.two-thirds {
    width: 65.81196581196582%;
}

.one-fourth {
    width: 23.076923076923077%;
}

.three-fourths {
    width: 74.35897435897436%;
}

.one-sixth {
    width: 14.52991452991453%;
}

.five-sixths {
    width: 82.90598290598291%;
}

.first {
    clear: both;
    margin-left: 0;
}
.rtl .first {
    clear: both;
    margin-right: 0;
    margin-left: auto;
}
.rtl .one-fourth {
    float: right;
}

.grey-color{
    background-color: #ccc !important;
}
.clearfix:before{
    content: " ";
    display: table;
}
.red-color{
    border: 1px solid #ff091f !important;
}
.clearfix:after{
    clear: both;
    content: " ";
    display: table;
}
.one-third-eq {
    float: left;
    width: 33.33%;
}
.border-menu-admin .menu-item-title{
    text-align: left;
    padding-left: 15px;
}
.rtl .border-menu-admin .menu-item-title{
    text-align: right;
    padding-right: 15px;
}

.one-half-eq {
    float: left;
    width: 50%;
}

.one-fourth-eq {
    float: left;
    width: 25%;
}
.hide-checkbox,
.border-menu-admin .menu-item-title{
    padding-top: 14px;
    display: block; 
}
.admin-container-menu .one-fourth:last-child input{
    width: auto;
}
.border-menu-admin{
    border: 1px solid #000;
}
.admin-container-menu .one-fourth input{
    width: 100%;
}
.border-menu-admin .one-fourth{
    display: block;
    text-align: center;
}
.custom-img {
	max-width: 70px;
}

.sale-repeater {
    border-bottom: 2px solid #ccc;
    padding-bottom: 40px;
    margin-bottom: 40px;
    /*min-height: 335px;*/
}

.sale-repeater:last-child:not-first {
	border-bottom: none;
	margin: 0;
}

.sale-repeater> div.date-pickup,
.margin-btm,
.sale-repeater .one-category-product-sale > div,
.sale-repeater .section-discount-content div {
	margin: 0 0 12px;
}

#sales-categories {
    padding: 25px 0;
    position: relative;
    max-width: 900px;
}

.discount-measure .row-content label:first-child {
	margin: 0 20px 0 0 ;
}

.dib {
	display: inline-block;
}
.row-title strong {
	font-size: 1rem;	
}

.dib.row-title {
	min-width: 400px;
	max-width: 400px;	
	line-height: 30px;
}

.row-content {
	display: inline-block;
	max-width: 320px;
	width: 100%;
}

h3 .number {
	margin: 0 10px;
}

h3 .cats {
    font-weight: 600;
    margin-left: 30px;
}

.row-content input[type="text"],
.row-content input[type="date"]{
	width: 100%;
}

.margin-btm {
	margin: 0 0 15px;
}

.section-discount-admin {
    float: left;
    width: 5%;
    min-height: 280px;
    background-color: transparent;
    position: relative;
    margin: 0!important;
}

.section-discount-content   {
	float: left;
	width:95%;
}

.section-title {
	margin: 0 0 20px;
}

.sale-repeater-btn {
    position: absolute;
    top: 50%;
    left: 0;
    background: #04a017!important;
    color: #fff!important;
}

.delete-row  {
    position: absolute;
    top: 30%;
    left: 0;
    background-color: #c00!important;
    color: #fff!important;
}

#element-0 .delete-row {
	display: none;
}

.sale-repeater-btn span.label,
.delete-row span.label{
	display: none;
}

.sale-repeater-btn span.dashicons,
.delete-row span.dashicons{
	vertical-align: middle;
}

.temporary-sale-date {
    display: none;
}

.temporary-sale-date.visible {
    display: block
}

label.b {
    display: block;
    margin: 0 0 5px;
}

.sale-container {
    max-width: 1024px;
}

/*.sale-repeater:first-child .section-discount-admin .delete-row {
    display: none;
    
}*/
/*.sale-repeater:first-child {
    background-color: green
}
*/

/* Rtl styles
*/

.rtl .all-categories-scrolling {
	left: auto;
    right:475px;	
}

.rtl .discount-measure .row-content label:first-child {
	margin: 0 0 0 20px;
}

.rtl .section-discount-admin{
    float: right;
}

.rtl .section-discount-content {
    float: right;
}